---
layout: default
---

<!-- <style> {% include universal-styles.html %} </style> -->

<section id="universal-styles">
  <div class="heading-block grid-spaceBetween">
    <h2 class="col">Universal Styles</h2>
    <div class="col right">
      <a class="demo button" onclick="$('#universal-styles .demo-info').slideToggle()">Show Universal Styles</a>
    </div>
  </div>

  <div class="demo-info padded">
    <pre>
  <code class="language-css">
  {% include universal-styles.html %}
  </code>
  </pre>
  </div>
</section>

{% for block in site.blocks %}
<section id="{{forloop.index}}-section">
  <style media="screen">
    {{block.css_code_block}}
  </style>
  <div class="bg-white example-block">
    {{block.html_code_block}}
  </div>

  <div class="heading-block grid grid-cols-2">
    <h2 class="">{{block.heading}}</h2>
    <div class=" text-right">
      <a class="demo button" onclick="$('#{{forloop.index}}-section .demo-info').slideToggle()">Show Code </a>
    </div>
  </div>

  

  <div class="demo-info p-5p">
    <div>
      <h3>HTML</h3>
      <pre>
            <code class="language-html">
              {{block.html_code_block | replace: "<", "&#60;"}}
            </code>
          </pre>
    </div>
    {% if block.css_code_block %}
    <div>
      <h3>CSS</h3>
      <pre>
            <code class="language-css">
              {{block.css_code_block}}
            </code>
          </pre>
    </div>
    <style> {{block.css_code_block}} </style>
    {% endif %}

    {% if block.js_code_block %}
    <div>
      <h3>JS</h3>
      <pre>
            <code class="language-js">
              {{block.js_code_block}}
            </code>
          </pre>
    </div>
    {% endif %}

</section>
{% endfor %}
