---
layout: base
---
<div class="blocks-container">
  <header class="nav">
    {% for block in site.blocks %}
      {% if block.header-bar-link %}
        <a href="/#{{forloop.index}}-section" class="caps">{{block.header-bar-link}}</a>
      {% endif %}
    {% endfor %}
  </header>
  <header class="nav not-fixed">
    {% for block in site.blocks  %}
      {% if block.header-bar-link %}
        <a href="/#{{block.header-bar-link}}" class="caps">{{block.header-bar-link}}</a>
      {% endif %}
    {% endfor %}
  </header>
</div>